@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

body {
  color: var(--white);
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}
.section_subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: .75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}
a {
  text-decoration: none;
}
html, body {
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  position: relative;
  background-color: rgba(0, 0, 0, .5);
  border-bottom: 1px solid var(--extra-light);
}
.nav_bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav_logo a {
  color: var(--white);
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav_menu_btn {
  display: none;
  color: var(--white);
  font-size: 1.6rem;
  cursor: pointer;
}
.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}
.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
}
.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
.link span {
  cursor: pointer;
  color: var(--white);
  padding: 1rem 0;
}
.header_container {
  padding: 12rem 1rem;
}
.header_container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}
.header_container h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 3rem;
  margin-bottom: 2rem;
  position: relative;
}
.header_container h4::before {
  content: "";
  width: 2rem;
  height: 2px;
  position: absolute;
  background: var(--white);
  bottom: 11px;
  left: -3rem;
}
.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.about_container :is(.section_header, .section_subheader) {
  text-align: left;
}
.about_flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}
.about_card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}
.about_card:last-child {
  border: none;
}
.about_card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}
.about_card p {
  font-size: 0.9rem;
}
.about_image img {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.discover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), transparent);
}
.discover_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.discover_card {
  max-width: 320px;
  margin: auto;
}
.discover_card:nth-child(2) {
  transform: translateY(5rem);
}
.discover_image {
  position: relative;
}
.discover_image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}
.discover_card_content {
  padding: 0 2rem;
  transform: translateY(-50%);
}
.discover_card_content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--secondary-color);
  font-family: var(--header-font);
}
.discover_card_content p {
  margin-bottom: 2rem;
}
.discover_btn {
  background-color: transparent;
  padding: 0.75rem 1rem;
  outline: none;
  color: white;
  font-size: 1rem;
  border: 1px solid white;
  cursor: pointer;
}
.discover_image img {
  position: relative;
  
}
.blogs_container {
  padding: 5rem 0;
}
.blogs_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.blogs_card {
  position: relative;
}
.blogs_card img {
  width: 100%;
}
.blogs_card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}
.blogs_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
}

.journals_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
}
.journals_card img {
  width: 100%;
}
.journals_content {
  padding: 2rem;
  background-color: var(--primary-color-light);
}
.journals_author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.journals_author img {
  max-width: 30px;
  border-radius: 100%;
}
.journals_author p {
  font-size: 0.9rem;
  opacity: 0.75;
}
.journals_content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.journals_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.journals_footer p {
  font-size: 0.9rem;
  opacity: 0.5;
}
.journals_footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}
.journals_btn {
  margin-top: 4rem;
  text-align: center;
}

.hero_container {
  text-align: center;
  font-size: 12rem;
  font-weight: 700;
  background-image: url(assets/banner.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery_container {
  padding: 5rem 1rem;
}
.gallery_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.gallery_card {
  position: relative;
  overflow: hidden;
}
.gallery_card img {
  width: 100%;
}
.gallery_content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
  cursor: pointer;
}
.gallery_card:hover .gallery_content {
  bottom: 0;
}
.gallery_content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
}
.contact {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.05), transparent);
}
.contact_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  margin-top: 4rem;
}
.contact_card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer;
}
.contact_card span {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: 0.3s;
}
.contact_card:hover span {
  color: var(--secondary-color);
}
.contact_col h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
}
.contact_col h5 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}
.footer_container {
  text-align: center;
}
.footer_container h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.footer_socials {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer_socials span a {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.footer_socials span a:hover {
  color: var(--secondary-color);
}
.footer_container p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 4rem;
}
.footer_nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer_nav a {
  color: var(--white);
  font-weight: 500;
}
.footer_bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--extra-light);
}
.footer_nav a:hover {
  color: var(--secondary-color);
}


/* ===================== RESPONSIVE ===================== */

@media (max-width: 900px) {
  
  .nav_menu_btn { display: block; }

  .nav_links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--extra-light);
    display: none;           
  }
  .nav_links.open { display: flex; }   

  .link a { padding: 0.25rem 0; }


    .about_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about_container :is(.section_header, .section_subheader) {
    text-align: center;
  }

    

  .discover_grid { grid-template-columns: repeat(2, 1fr); }
  .blogs_grid { grid-template-columns: repeat(2, 1fr); }
  .journals_grid { grid-template-columns: repeat(2, 1fr); gap: 1rem; }
  .hero_container { font-size: 9rem; }
  .gallery_grid { grid-template-columns: repeat(3, 1fr); }
  .contact_container { grid-template-columns: repeat(2, 1fr); }
  .contact_col:first-child {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header_container { text-align: center; }
  .header_container h4 { margin-left: 0; }
  .header_container h4::before { display: none; }

  .about_card { border: none;

  }

  
  .discover_grid { grid-template-columns: 1fr; }
  .discover_card:nth-child(2) { transform: translateY(0); }

  .blogs_grid { grid-template-columns: 1fr; }
  .journals_grid { grid-template-columns: 1fr; }
  .hero_container { font-size: 6rem; }
  .gallery_grid { grid-template-columns: repeat(2, 1fr); }
  .contact_container { grid-template-columns: 1fr; }
  .contact_col:first-child { grid-area: unset; }
}

@media (max-width: 400px) {
  .header_container h1 { font-size: 2.6rem; }
  .hero_container { font-size: 3.5rem; }
  .discover_card_content {
          
  }
  .discover_btn {
    font-size: 0.9rem;     
    padding: 0.6rem 0.8rem;
  }
}

